<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso de Internet (Vital para conectar con tu servidor) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiccionarioHipHop"
        tools:targetApi="31">

        <!-- 1. Login (Pantalla Principal al iniciar) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- 3. Selección de Canciones (Home) -->
        <activity
            android:name=".SongSelectionActivity"
            android:exported="false" />

        <!-- 4. Aprendizaje (Letra y Música) -->
        <activity
            android:name=".SongLearningActivity"
            android:exported="false" />

        <!-- 5. Diccionario Personal -->
        <activity
            android:name=".DictionaryActivity"
            android:exported="false" />

        <!-- 6. Perfil de Usuario -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- 7. Flashcards (Repaso) -->
        <activity
            android:name=".FlashcardsActivity"
            android:exported="false" />

    </application>

</manifest>